/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rowdies', cursive;
}

/* reset */

/* debug */

.debug header {
    height: 500px;
}

.debug .blocco-1 {
    height: 500px;
}


/* debug */
.blocco,
.blocco-1,
.blocco-2,
.blocco-3,
.blocco-4,
.blocco-5 {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    background-image: url(/img/jumbo.png);
    background-repeat: no-repeat;
    background-size: 2050px 500px;
}

.prima-colonna,
.seconda-colonna,
.terza-colonna {
    margin-top: 10px;
}

.link {
    padding: 30px;
    color: white;
    text-decoration: none;
}

.button {
    height: 40px;
    width: 100px;
    font-size: 15px;
    border-radius: 15px;
    border: none;
}

.button-02 {
    margin-top: 50px;
    background-color: white;
    height: 40px;
    width: 150px;
    font-size: 15px;
    border-radius: 15px;
    border: none;
}

.button-03 {
    margin-top: 50px;
    color: white;
    background-color: #23272a;
    height: 40px;
    width: 150px;
    font-size: 15px;
    border-radius: 15px;
    border: none;
}

.button-04 {
    margin-top: 50px;
    color: white;
    background-color: #7289da;
    height: 40px;
    width: 200px;
    font-size: 15px;
    border-radius: 15px;
    border: none;
}

#arrow {
    font-size: 15px;
}

.prima-colonna,
.terza-colonna {
    width: 240px;
}

.seconda-colonna {
    display: flex;
    text-align: center;
    width: 720px;
}

.terza-colonna {
    text-align: end;
}

.testo-header {
    padding-top: 25px;
    text-align: center;
    line-height: 140%;
    letter-spacing: 2px;
    color: white;
}

.space {
    padding-top: 55px;
}

.box-testo {
    height: 400px;
    width: 900px;
}

.blocco-2 {
    height: 600px;
}

.img-01 {
    background-image: url(/img/item1.svg);
    background-repeat: no-repeat;
    width: 720px;
    height: 500px;
}

.testo-img-01,
.testo-img-02,
.testo-img-03 {
    width: 420px;
    height: 500px;
    color: black;
}

.att-testo {
    padding-top: 35px;
    line-height: 160%;
    letter-spacing: 2px;
}


.img-02 {
    background-image: url(/img/item2.svg);
    background-repeat: no-repeat;
    width: 720px;
    height: 500px;
}

.img-03 {
    background-image: url(/img/item3.svg);
    background-repeat: no-repeat;
    width: 720px;
    height: 500px;
}

.img-04 {
    background-image: url(/img/item4-big.svg);
    background-repeat: no-repeat;
    height: 500px;
    width: 1200px;
    margin-left: 150px;
}
.box-testo-immagine {
    text-align: center;
    height: 800px;
    width: 1200px;
}

.box-testo-bandiera-icone {
   
    color: #7289da ;
    height: 580px;
    width: 360px;
}

#bandiera-ita{
    margin-top: 20px;
    height: 20px;
    width: 25px;
}
#italiano{
    margin-left: -30px;
}

.icone{
    padding-top: 15px;
    color: white;
}
























.blocco-verde-chiaro {
    background-color: #20b2aa;
    border: 1px dashed rgb(246, 247, 249);
    height: 580px;
    width: 215px;
}

.blocco-6 {
    height: 110px;
    background-color: #23272a;
    border: #d3d3d3 solid;
    display: flex;
    justify-content: center;

}

.casella-finale {
    background-color: #7fffd4;
    margin-top: 25px;
    width: 1200px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo,
.bottone {
    background-color: #ffb6c1;
    border: 1px dashed black;
}






.blocco-3 {
    background-color: #d3d3d3;
}

.blocco-4 {
    height: 1000px;
    background-color: #d3d3d3;
}

.blocco-5 {
    background-color: #23272a;
    height: 630px;
}